.main-content {
    padding: 0px;
    margin: 0px;
    flex: 1;
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 64px;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 15vw;
}

.title .icons{
    margin: 0px;
    padding: 30px 20px;
    padding-bottom: 0px;
}

.title-text{
    margin: 0px;
    padding: 30px 20px;
    padding-bottom: 10px;
}

.notification-container {
    position: relative;
    display: inline-block;
}

.notification-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: var(--dark-green);
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 0px;
    border-radius: 30%;
    min-width: 18px;
    text-align: center;
}