.tab-main-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    /* flex: 1; */
    /* position: relative; */
    width: 100%;
    height: calc(100vh - 128px);
}   

.message-section{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box;
    max-height: 48%;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.message-section::-webkit-scrollbar {
    display: none;
}
.message-title{
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    box-sizing: border-box;
    width: 100%;
}

.message-btns{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.message-title-left-section{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
}
.play-time{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.play-time button{
    border: none;
    padding: 0px;
}

.play-time-text{
    color: var(--secondary-color);
}

.btn-type1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #7A8699;
    padding: 2px;
    border: solid 1px #7A8699;
    border-radius: 5px;
    cursor: pointer;
    font-size: 11px;
}

.btn-type1:hover{
    background-color: var(--dark-green);
    color: white;
}

.btn-type2{
    background-color: var(--dark-green);
    color: white;
    padding: 5px;
    border: solid 1.5px var(--secondary-color);
    border-radius: 10px;
    cursor: pointer;
}

.btn-type2:hover{
    background-color: white;
    color: var(--secondary-color);
}


.message-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    border: solid 1.5px var(--secondary-color);
    border-radius: 10px;
    margin: 10px 0px;
}




.message-card .message-card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.message-card-header-right{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.message-card-header-up{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    gap: 20px;
}

.message-card-header-text{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.message-card-header-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.message-card-header-left{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.message-card-body p{
    color: var(--primary-color);
    font-size: 14px;
}

.response-section{
    /* position: absolute;
    bottom: 0;
    left: 0; */
    /* right: 0; */
    display: flex;
    flex-direction: column;
    justify-content: start ;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    /* min-height: 400px; */
    border-top: solid 1.5px var(--secondary-color);
    gap: 10px;
    background-color: white;
}

.fast-response{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
    
}

.fast-response h5, .response-section h5{
    margin: 0px;
    color: var(--secondary-color);
}

.fast-response-text{
    flex: 1;
    background-color: var(--light-gray);
    border-radius: 10px;
    padding: 10px 5px;
    overflow-x: hidden;

}

.fast-response-text ul{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    max-width: 700px;  
    gap: 10px;
}
.fast-response-text li{
    background-color: white;
    border: solid 1.5px var(--secondary-color);
    border-radius: 20px;
    cursor: pointer;
}

.fast-response-text li:hover{
    background-color: var(--light-color);
    color: white;
}

.fast-response-text li h6{
    color: var(--secondary-color);
    padding: 5px 10px;
    text-decoration: none;
    margin: 0px;
}

.fast-response-text {
    overflow-x: auto;  /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent text from wrapping */
}

/* Target only this div's scrollbar */
.fast-response-text::-webkit-scrollbar {
    margin-top: 10px;
    height: 8px; /* Control the horizontal scrollbar height */
}

.fast-response-text::-webkit-scrollbar-track {
    background: var(--light-color); /* Light gray track */
    border-radius: 10px;
}

.fast-response-text::-webkit-scrollbar-thumb {
    background: #888; /* Darker gray handle */
    border-radius: 10px;
}

.fast-response-text::-webkit-scrollbar-thumb:hover {
    background: #555; /* Even darker gray when hovered */
}

.response-main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    /* padding: 10px; */
    width: 100%;
    box-sizing: border-box;
    border: solid 1.5px var(--secondary-color);
    border-radius: 10px;
}

.response-main-header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: start;
    padding: 10px 10px;
    box-sizing: border-box;
    width: 100%;
}

.response-main-header-btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.response-main-header-data{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
}

.response-email-section, .response-cc-section{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 20px;
}

.text-input{
    border: solid 1.5px var(--secondary-color);
    border-radius: 20px;
    padding: 2px 5PX;
    color: var(--secondary-color);
    font-size: 12px;
    width: auto;
    min-width: 10px;
}

.text-input:focus{
    border-color: var(--primary-color);
}

.search-container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.search-input {
    padding: 5px 25px 5px 7.5px;
    border: 1px solid var(--secondary-color);
    border-radius: 50px;
    background-color: var(--light-gray);
    text-align: right;
    color: var(--secondary-color);
    font-size: 12px;
    outline: none;
    transition: border 0.2s ease-in-out;
}

.search-input:focus {
    border: 1px solid var(--primary-color);
}

.search-input::placeholder {
    color: var(--secondary-color); 
}

.search-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--secondary-color); /* Gray color for icon */
    pointer-events: none; /* Prevent clicking on the icon */
}
.response-cc-section h5{
    margin-left: 20px;
}
  
.email-tags {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* width: 80%; */
    gap: 5px;
    /* flex-wrap: wrap; */
}

.email-tag {
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid var(--secondary-color);
    padding: 0px 5px;
    border-radius: 20px;
    font-size: 12px;
    color: var(--primary-color);
    cursor: pointer;
}

.email-tag:hover {
    background: var(--dark-green);
    color: white;
}

.close-btn {
    margin-right: 6px;
    font-size: 12px;
    color: #9ca3af;
}

.email-tag:hover .close-btn, .close-reply:hover .close-btn{
    background: var(--dark-green);
    color: white;
}

.response-main-body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
    width: 100%;
    border-top: solid 1.5px var(--secondary-color);
    /* padding: 10px; */
    box-sizing: border-box;
}

.textarea-container {
    position: relative;
    width: 100%;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    padding: 10px;
    background: #fff;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.custom-textarea {
    width: 100%;
    /* min-height: 50px; */
    border: none;
    outline: none;
    resize: none;
    font-size: 14px;
    padding: 10px;
    direction: rtl;
    box-sizing: border-box;
}

.textarea-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.icons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 5px;
    width: auto;
}

.buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px;
}

.add-reply {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
}

.cancel {
    background: #f3f3f3;
    color: #555;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}
  
/* 
@media (max-width: 1800px) { 
    .message-section {
        flex: 2;
    }
  }
   */