@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  --dark-gray: rgb(29, 29, 29);
  --primary-color: #4f595a;
  --secondary-color: #AEB3BC;
  --light-color: #D8DADF;
  --light-gray: rgba(235, 236, 240, 0.642);
  --dark-green: #19ca84;
  --light-green: #f2fdf9;
}


body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  /* min-height: 100vh; */
  height: 100vh;
  width: 100vw;
  background-color: var(--secondary-color);
}

a{
  text-decoration: none;
  color: inherit;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}

.btn-type1{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #7A8699;
  padding: 2px;
  border: solid 1px #7A8699;
  border-radius: 5px;
  cursor: pointer;
  font-size: 11px;
}

.btn-type1:hover{
  background-color: var(--dark-green);
  color: white;
}

.btn-type2{
  background-color: var(--dark-green);
  color: white;
  padding: 5px;
  border: solid 1.5px var(--secondary-color);
  border-radius: 10px;
  cursor: pointer;
}

.btn-type2:hover{
  background-color: white;
  color: var(--secondary-color);
}

.active-card{
  background-color: var(--light-green);
  border: solid 2px var(--dark-green);
}
